.bg-ora{
    background-color: rgb(230, 112, 22);
}


.billede{
    background-image: url("tømmer.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    margin: 0;
    padding: 0;
    scale: 1;
}


#kort{
    margin: 1px
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


@media (min-width:1200px){
    .container{
        max-width: 1400px;
    }
}


.big{
    font-size: 70px;
}